.rojo,
.verde,
.azul {
    position: absolute;
}

.rojo {
    background: red;
    z-index: 1;
    width: 10rem;
    height: 10rem;
}

.verde {
    background: green;
    width: 10rem;
    height: 10rem;
}

.azul {
    background: blue;
    width: 10rem;
    height: 10rem;
}

/* deja al azul primero */
div:first-child {
    opacity: .99;
}