.div1 {
    position: absolute; 
    top: 100px; 
    left: 200px; 
    background-color: #ff9966; 
    width: 400px; 
    height: 100px;
}
.div1-1{
    position: absolute; 
    top: 10px; 
    left:10px;
}