.div1 {
    position: absolute; 
    width: 300px; 
    height: 140px; 
    top: 100px; 
    left: 30px; 
    background-color: #ff8800; 
    color: #fff; 
    padding: 15px;
    z-index: 2;
}
.div2{
    position: absolute; 
    width: 820px; 
    height: 30px; 
    padding: 10px; 
    background-color: #ddf; 
    top: 150px; 
    left: 10px; 
    z-index: 1;
}
.div3{
    position: absolute; 
    width: 100px; 
    height: 20px; 
    padding: 10px; 
    background-color: #ddf; 
    bottom: 10px; 
    right: 10px;
}